body {
    background-color: #fff;
    line-height: 1.2;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.global-container {
    max-width: 1230px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
}

.header {
    padding-top: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aside {
    max-width: 400px;
    width: 100%;
    min-height: 100%;
    background-color: rgb(65, 65, 116);
}

.contacts {
    padding: 50px 20px;
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socials__title {
    display: block;
    text-transform: uppercase;
    color: #ccc;
    font-size: 14px;
}

.socials__inner {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.contacts__top-link {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    transition: color 0.2s;
}

.contacts__top-link:hover {
    color: rgb(228, 117, 26);
}


:where(.contact__phone, .contact__email):before {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 50px;
}

.contact__phone::before {
    content: url('../images/SVG/mobile.svg');
}

.contact__email::before {
    content: url('../images/SVG/envelope-o.svg');
}


.socials__link {
    transition: transform 0.3s;
}

.socials__link:hover {
    transform: scale(1.1);
}

.title {
    margin-bottom: 70px;
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
}

.top {
    padding: 19px 35px;
}

.skills {
    margin-bottom: 22px;
}

.skills-punkt {
    margin-bottom: 14px;
    margin-left: 35px;
    position: relative;
}

.skills-punkt::before {
    content: '.';
    font-size: 72px;
    position: absolute;
    left: -30px;
    top: -54px;
    color: rgb(228, 117, 26);
}

.bottom {
    background-color: rgb(231, 231, 231);
    padding: 50px 35px;
}

.experience-position {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.education.skills {
    margin-bottom: 50px;
}

.experience__box {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 4px;
}

.experience__link {
    margin-left: 20px;
    font-weight: 600;
    margin-left: auto;
    transition: color 0.2s;
    color: rgb(228, 117, 26);
}

.experience__link:hover {
    color: rgb(65, 65, 116);
}



@media (max-width: 1200px) {
    .global-container {
        padding: 0;
    }
}

@media (max-width: 730px) {
    .aside {
        max-width: 250px;
    }

    .socials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts {
        min-height: 200px;
        flex-direction: column;
        align-items: center;
    }

    :where(.contact__phone, .contact__email):before {
        left: -33px;
    }

    .socials__inner {
        justify-content: space-evenly;
    }

    .socials__link {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 570px) {

    .aside {
        max-width: 100%;
    }

    .global-container {
        flex-direction: column;
    }

    .my-photo {
        width: 100%;
        height: auto;
    }

    .contacts {
        min-height: auto;
        padding: 30px 20px 15px;
    }

    .aside {
        background-color: #ccc;
    }


}